<div class="col-md-9">
  <h1>Permanant Roles</h1>
  
  <h3>Structured Query Language) is a domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS), or for stream processing in a relational data stream management system (RDSMS).</h3>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<table class="table">

<th>Location</th>
<th>6 Months to 25 Jan 2019</th>
<th>Same Period 2018</th>
<th>Same Period </th>


</table>
