<div class="col-md-9">
  <h1> Roles</h1>
  
  <p>There's no formal career track for becoming a DevOps engineer. They are either developers who get interested in deployment and network operations, or sysadmins who have a passion for scripting and coding, and move into the development side where they can improve the planning of test and deployment.</p>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<table class="table">

<th>Location</th>
<th>6 Months to 25 Jan 2019</th>
<th>Same Period 2018</th>
<th>Same Period </th>


</table>