<div class="col-md-12" id="content" #content>
    <h1>Permanent DevOps Roles</h1>
    <button (click)="downloadPDF()" class="btn btn-sm btn-info">Download Data
    <span class="	glyphicon glyphicon-download-alt"></span>
    </button>
  <p>There's no formal career track for becoming a DevOps engineer. They are either developers who get interested in deployment and network operations, or sysadmins who have a passion for scripting and coding, and move into the development side where they can improve the planning of test and deployment.</p>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

  <div class="col-md-9">
      <ul class="nav nav-tabs">
          <li><a routerLink="/permanent/python">Python</a></li>
          <li><a routerLink="/permanent/sql">SQL</a></li>
          <li><a routerLink="/permanent/javascript">Java-Script</a></li>
          <li><a routerLink="/permanent/csharp">C#</a></li>
          <li><a routerLink="/permanent/microsoft">Microsoft</a></li>
          <li><a routerLink="/permanent/java">Java</a></li>
          <li><a routerLink="/permanent/html">HTML</a></li>
          <li><a routerLink="/permanent/scrum">Scrum</a></li>
          <li><a routerLink="/permanent/aws">AWS</a></li>
        </ul>
      </div>

  <div class="col-md-12">
    <div class="table_data">
      <table class="table table-striped table-dark">
  
        <tr>
          <th>Statistics</th>
          <th>6 months to 30 Jan 2019</th>
          <th>Same period 2018</th>
          <th>Same period 2017</th>
        </tr>
  
  
  
        <tr *ngFor="let d of document_data; let i=index">
          <td>{{headings[i]}}</td> 
          <td>{{d.thisyeardata}}</td>
          <td>{{d.lastyeardata}}</td>
          <td>{{d.twoyearagodata}}</td>
        </tr>
  
      </table>
    </div>
  </div>