<div class="col-md-9">
  <h1>Contracted html Roles</h1>
  
  <h3>HTML stands for HyperText Markup Language. Developed by scientist Tim Berners-Lee in 1990, HTML is the "hidden" code that helps us communicate with others on the World Wide Web (WWW). When writing HTML, you add "tags" to the text in order to create the structure</h3>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<table class="table">

<th>Location</th>
<th>6 Months to 25 Jan 2019</th>
<th>Same Period 2018</th>
<th>Same Period </th>


</table>