.table_list {
    width: 400px;
    height: 700px;
    border: dashed black 1px;
    float: left;
}

.table_data {
    width: 400px;
    height: 700px;
    border: dashed red 1px;
    margin:  0 auto;    
}

.table_headings {
    width: 400px;
    height: 700px;
    border: dashed red 1px;
    margin: 0 auto;
}

/* .margin-from-top{
    margin-top: 10%;
} */