<!-- <div class="table_list">
  <table>
    <tr> <b>Topics

    </b></tr>
    <tr>Rank</tr>
    <tr>Rank change year-on-year</tr>
    <tr>Permanent jobs citing JavaScript</tr>
    <tr>As % of all permanent IT jobs advertised in the UK</tr>
    <tr>As % of the Programming Languages category</tr>
    <tr>Number of salaries quoted</tr>
    <tr>UK median annual salary</tr>
    <tr>Median salary % change year-on-year</tr>
    <tr>10th Percentile</tr>
    <tr>UK excluding London median annual salary</tr>
    <tr>% change year-on-year</tr>
    <tr>90th Percentile</tr>

  </table>
</div> -->
<!-- <div class="table_headings">
  <table>
    <tr *ngFor="let x of headings">
      <td>{{x}}</td>
    </tr>
  </table>
</div> -->

<h1>Permanant JavaScript Roles</h1>

<div class="col-md-9">
    <ul class="nav nav-tabs">
        <li><a routerLink="/permanent/python">Python</a></li>
        <li><a routerLink="/permanent/sql">SQL</a></li>
        <li><a routerLink="/permanent/csharp">C#</a></li>
        <li><a routerLink="/permanent/microsoft">Microsoft</a></li>
        <li><a routerLink="/permanent/java">Java</a></li>
        <li><a routerLink="/permanent/html">HTML</a></li>
        <li><a routerLink="/permanent/scrum">Scrum</a></li>
        <li><a routerLink="/permanent/devops">DevOps</a></li>
        <li><a routerLink="/permanent/aws">AWS</a></li>
      </ul>
    </div>

<div class="col-md-9">
<div class="table_data">
    <table class="table table-striped table-dark">
      
      <tr>
        <th>Statistics</th>
        <th>6 months to 30 Jan 2019</th>
        <th>Same period 2018</th>
        <th>Same period 2017</th>
      </tr>
    
  
   
      <tr *ngFor="let d of document_data; let x of headings">
        <td>{{x}}</td>        
        <td>{{d.thisyeardata}}</td>
        <td>{{d.lastyeardata}}</td>
        <td>{{d.twoyearagodata}}</td>
      </tr>
   
    </table>
  </div>
  </div>
  