<div class="col-md-9" id="content" #content>
<h1>Permanant JavaScript Roles</h1>
<button (click)="downloadPDF()" class="btn btn-sm btn-info">
    <span class="	glyphicon glyphicon-download-alt"></span>
    </button> 
    <ul class="nav nav-tabs">
        <li><a routerLink="/permanent/python">Python</a></li>
        <li><a routerLink="/permanent/sql">SQL</a></li>
        <li><a routerLink="/permanent/csharp">C#</a></li>
        <li><a routerLink="/permanent/microsoft">Microsoft</a></li>
        <li><a routerLink="/permanent/java">Java</a></li>
        <li><a routerLink="/permanent/html">HTML</a></li>
        <li><a routerLink="/permanent/scrum">Scrum</a></li>
        <li><a routerLink="/permanent/devops">DevOps</a></li>
        <li><a routerLink="/permanent/aws">AWS</a></li>
      </ul>


<div class="col-md-9">
<div class="table_data">
    <table class="table table-striped table-dark">
      
      <tr>
        <th>Statistics</th>
        <th>6 months to 30 Jan 2019</th>
        <th>Same period 2018</th>
        <th>Same period 2017</th>
      </tr>
    
  
   
      <tr *ngFor="let d of document_data; let i=index">
        <td>{{headings[i]}}</td>   
        <td>{{d.thisyeardata}}</td>
        <td>{{d.lastyeardata}}</td>
        <td>{{d.twoyearagodata}}</td>
        <!-- <td><button (click)="addToLocal(d.thisyeardata, d.lastyeardata, d.twoyearagodata)">AddToList</button></td> -->
      </tr>
    </table>
  </div>
  </div>
  </div>
  