<p>
  permanent works!
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Skill/Job Role</th>
          <th scope="col">Rank
            6 Months to 25th Jan 2019
          </th>
          <th scope="col">Rank
            Change Year on Year
          </th>
          <th scope="col">Median Salary
              6 Months to 25th Jan 2019
          </th>
          <th scope="col">Median Salary
              % Change Year on Year
          </th>
          <th scope="col">Historical Permanent
              Job Ads
          </th>
          <th scope="col">Live Job Vacancies </th>

        </tr>
      </thead>


</table>