<div class="col-md-9">
<h1>Permanent Jobs </h1>
<p>Permanent employees, regular employees or the directly employed, work for an employer and are paid directly by that employer. Permanent (regular) employees do not have a predetermined end date to employment. In addition to their wages, they often receive benefits like subsidized health care, paid vacations, holidays, sick time, or contributions.</p>
<table class="table" width="50%">
  <thead class="thead-dark">
      <tr>
        <th scope="col">Skill/Job Role</th>
        <th scope="col">Rank
          6 Months to 25th Jan 2019
        </th>
        <th scope="col">Rank
          Change Year on Year
        </th>
        <th scope="col">Median Salary
            6 Months to 25th Jan 2019
        </th>
        <th scope="col">Median Salary
            % Change Year on Year
        </th>
        <th scope="col">Historical Permanent
            Job Ads
        </th>
        <th scope="col">Live Job Vacancies </th>
      </tr>
      <tr>
        <td><a routerLink="/permanent/python">Python</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/sql">SQL</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/javascript">JavaScript</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/csharp">CSharp</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/microsoft">Microsoft</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/java">Java</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/html">HTML</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/scrum">Scrum</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/devops">DevOps</a></td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/aws">AWS</a></td>
      </tr>

    </thead>
</table>
</div>