<div class="col-md-12">
<h1>Permanent Jobs </h1>
<p>Permanent employees, regular employees or the directly employed, work for an employer and are paid directly by that employer. Permanent (regular) employees do not have a predetermined end date to employment. In addition to their wages, they often receive benefits like subsidized health care, paid vacations, holidays, sick time, or contributions.</p>
<table class="table" width="50%">
  <thead class="thead-dark">
      <tr>
        <th scope="col">Skill/Job Role</th>
        <th scope="col">Rank
          6 Months to 25th Jan 2019
        </th>
        <th scope="col">Rank
          Change Year on Year
        </th>
        <th scope="col">Median Salary
            6 Months to 25th Jan 2019
        </th>
        <th scope="col">Median Salary
            % Change Year on Year
        </th>
        <th scope="col">Historical Permanent
            Job Ads
        </th>
        <th scope="col">Live Job Vacancies </th>
      </tr>
      <tr>
        <td><a routerLink="/permanent/python">Python</a></td>
        <td>17</td>
        <td>+5</td>
        <td>£60.000</td>
        <td>+9.09%</td>
        <td>16.131 (10.63%)</td>
        <td>3.375</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/sql">SQL</a></td>
        <td>4</td>
        <td>0</td>
        <td>£48.750</td>
        <td>+8.33%</td>
        <td>30.344 (20.00%)</td>
        <td>5.879</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/javascript">JavaScript</a></td>
        <td>5</td>
        <td>0</td>
        <td>£50.000</td>
        <td>+11.11%</td>
        <td>26.263(17.31%)</td>
        <td>6.367</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/csharp">C#</a></td>
        <td>6</td>
        <td>0</td>
        <td>£50.000</td>
        <td>+11.11%</td>
        <td>25.445(16.77%)</td>
        <td>5.193</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/microsoft">Microsoft</a></td>
        <td>7</td>
        <td>0</td>
        <td>£45.000</td>
        <td>+2.27%</td>
        <td>25.432(16.77%)</td>
        <td>5.516</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/java">Java</a></td>
        <td>8</td>
        <td>+1</td>
        <td>£57.500</td>
        <td>+4.54%</td>
        <td>23.777(15.67%)</td>
        <td>4.446</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/html">HTML</a></td>
        <td>13</td>
        <td>-3</td>
        <td>£45.000</td>
        <td>-</td>
        <td>18.772(12.38%)</td>
        <td>4.728</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/scrum">Scrum</a></td>
        <td>22</td>
        <td>-2</td>
        <td>£55.000</td>
        <td>+4.76%</td>
        <td>13.294(8.76%)</td>
        <td>2.405</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/devops">DevOps</a></td>
        <td>23</td>
        <td>+8</td>
        <td>£62.500</td>
        <td>-</td>
        <td>13.231(8.72%)</td>
        <td>2.798</td>
      </tr>
      <tr>
        <td><a routerLink="/permanent/aws">AWS</a></td>
        <td>19</td>
        <td>+8</td>
        <td>62.500</td>
        <td>+4.16%</td>
        <td>15.698(10.35%)</td>
        <td>3.264</td>
      </tr>

    </thead>
</table>
</div>