<div class="col-md-9">
  <h1>Contracted Mircosoft Roles</h1>
  
  <h3>An MCSE (Microsoft Certified Systems Engineer) is someone who has passed exams about the Microsoft Windows NT operating system, related desktop systems, networking, and Microsoft's BackOffice server products.</h3>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<table class="table">

<th>Location</th>
<th>6 Months to 25 Jan 2019</th>
<th>Same Period 2018</th>
<th>Same Period </th>


</table>