<div class="col-md-9" id="content" #content>
    <h1>Permanent Scrum Roles</h1>
    <button (click)="downloadPDF()" class="btn btn-sm btn-info">
        <span class="	glyphicon glyphicon-download-alt"></span>
        </button> 
  
  
  <p>Scrum is an agile way to manage a project, usually software development. Agile software development with Scrum is often perceived as a methodology; but rather than viewing Scrum as methodology, think of it as a framework for managing a process.</p>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<div class="col-md-9">
    <div class="table_data">
        <table class="table">

            <tr>
                <th>Statistics</th>
                <th>6 months to 30 Jan 2019</th>
                <th>Same period 2018</th>
                <th>Same period 2017</th>
            </tr>



            <tr *ngFor="let d of document_data; let x of headings">
                <td>{{x}}</td>
                <td>{{d.thisyeardata}}</td>
                <td>{{d.lastyeardata}}</td>
                <td>{{d.twoyearagodata}}</td>
            </tr>

        </table>
    </div>
</div>
          