<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>

<body>




<div class="col-md-9">
<ul class="nav nav-tabs">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/permanent">Permanent Positions</a></li>
    <li><a routerLink="/contract">Contracted Postions </a></li>
  </ul>
</div>
<app-js></app-js>
<!--Side bar on all pages: takes 3 columns-->
<!-- <div class="col-md-3">
    <h3>Python Rises</h3>
    <p>Sample Information</p>
    <img src="/itmarket-app/imgs/img1.png" class="img-thumbnail" alt="statistics">
  
  </div> -->




<!--animation on router outlet
<div>
  <router-outlet></router-outlet>
</div> 
-->


<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" ></router-outlet>
  </div>
</body>
