<app-js></app-js>
<body>
<h2>{{title}}</h2>

<!--The content below is only a placeholder and can be replaced.-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
      
        <img src="../assets/digital-transformation-hero.jpg" alt="img1">
        <div class="carousel-caption d-none d-md-block">
            <h3>Python on the Rise</h3>
            <p>Python Contractors being paid more year on year etc etc</p>
           <button class="btn-primary" [routerLink]="['contract/python']">See More</button>
          </div> 
      </div>
  
      <div class="item">
        <img src="../assets/MIS-solutions-provider.jpg" alt="img2">
      </div>
  
      <div class="item">
        <img src="../assets/we-create.jpg" alt="img3">
      </div>
    </div>
  
  <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="col-md-9">
<ul class="nav nav-tabs">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/permanent">Permanent Positions</a></li>
    <li><a routerLink="/contract">Contracted Postions </a></li>
  </ul>
</div>

<!--Side bar on all pages: takes 3 columns-->
<!-- <div class="col-md-3">
    <h3>Python Rises</h3>
    <p>Sample Information</p>
    <img src="/itmarket-app/imgs/img1.png" class="img-thumbnail" alt="statistics">
  
  </div> -->




<!--animation on router outlet
<div>
  <router-outlet></router-outlet>
</div> 
-->


<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" ></router-outlet>
  </div>
  

</body>
