<div class="col-md-9">
  <h1>Contracted Java-Script Roles</h1>
  
  <p>JavaScript, often abbreviated as JS, is a high-level, interpreted programming language that conforms to the ECMAScript specification. It is a language that is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.</p>
  <p>average salary outside and inside of London(print from mongo)</p> 
  <p>Year on Year statistics</p>
  
  </div>

<table class="table">

<th>Location</th>
<th>6 Months to 25 Jan 2019</th>
<th>Same Period 2018</th>
<th>Same Period </th>


</table>