
<div class="col-md-9">
<h1>Contracted Jobs</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Skill/Job Role</th>
          <th scope="col">Rank
            6 Months to 25th Jan 2019
          </th>
          <th scope="col">Rank
            Change Year on Year
          </th>
          <th scope="col">Median Salary
              6 Months to 25th Jan 2019
          </th>
          <th scope="col">Median Salary
              % Change Year on Year
          </th>
          <th scope="col">Historical Permanent
              Job Ads
          </th>
          <th scope="col">Live Job Vacancies </th>
        </tr>
        <tr>
          <td><a routerLink="/contract/python">Python</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/sql">SQL</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/javascript">JavaScript</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/csharp">CSharp</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/microsft">Microsoft</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/java">Java</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/html">HTML</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/scrum">Scrum</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/devops">DevOps</a></td>
        </tr>
        <tr>
          <td><a routerLink="/contract/aws">AWS</a></td>
        </tr>

      </thead>


</table>
</div>