<p>
  contracted works!
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Skill/Job Role</th>
          <th scope="col">Rank
            6 Months to 25th Jan 2019
          </th>
          <th scope="col">Rank
            Change Year on Year
          </th>
          <th scope="col">Median Salary
              6 Months to 25th Jan 2019
          </th>
          <th scope="col">Median Salary
              % Change Year on Year
          </th>
          <th scope="col">Historical Permanent
              Job Ads
          </th>
          <th scope="col">Live Job Vacancies </th>
        </tr>
        <tr>
          <td>Python</td>
        </tr>
        <tr>
          <td>SQL</td>
        </tr>
        <tr>
          <td>JavaScript</td>
        </tr>
        <tr>
          <td>CSharp</td>
        </tr>
        <tr>
          <td>Microsoft</td>
        </tr>
        <tr>
          <td>Java</td>
        </tr>
        <tr>
          <td>HTML</td>
        </tr>
        <tr>
          <td>Scrum</td>
        </tr>
        <tr>
          <td>DevOps</td>
        </tr>
        <tr>
          <td>AWS</td>
        </tr>

      </thead>


</table>
